body {
  background-image: url("assets/library.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  padding: 10px;
}

h1 {
  text-align: center;
  background-color: hsla(0, 100%, 0%, 70%);
  color: beige;
}

#library {
  background-color: hsla(0, 100%, 0%, 70%);
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#list {
  background-color: hsla(0, 100%, 0%, 70%);
}

h2,
p {
  color: beige;
  text-align: center;
}

li {
  color: beige;
  width: max-content;
}

li:hover {
  cursor: pointer;
}

button {
  width: 90px;
  height: 150px;
  margin: 5px;
  background-color: beige;
}

button:hover {
  cursor: pointer;
  opacity: 70%;
}

button:disabled {
  opacity: 60%;
}
